<div class="row">
  <div class="col">
    <div class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        {{#each slides}}
          <div class="carousel-item {{#if @first}}active{{/if}}">
            {{#if content}}
              {{{content}}}
            {{else}}
              {{> @partial-block }}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
