<div class="card">
  <img src="https://placehold.it/690x345/757575?text=Card image" class="card-img-top" alt="Placeholder image">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{text}}</p>
    <a href="#" class="btn btn-primary">{{button}}</a>
  </div>
</div>
